.env
frontend/.env.production
frontend/src/.env
deploy/env/*.env

community.db
uploads/

__pycache__/
*.py[cod]
.venv/

frontend/node_modules/
frontend/build/
frontend/.cache/
frontend/node_modules/.cache/

.idea/